
<div class="tap-top">
    <div><i class="fa-solid fa-angle-up"></i></div>
</div><span class="cursor"><span class="cursor-move-inner"><span class="cursor-inner"></span></span><span class="cursor-move-outer"><span class="cursor-outer"></span></span></span>
<section class="section-b-space pt-0">
    <div class="heading-banner">
        <div class="custom-container container">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h4>درباره ما </h4>
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb float-end">
                        <li class="breadcrumb-item"> <a href="Home/Index">خانه </a></li>
                        <li class="breadcrumb-item active"> <a href="/AboutUs/Index">درباره ما </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-b-space pt-0">
    <div class="custom-container container">
        <div class="row align-items-center gy-4">
            <div class="col-lg-6 order-1 order-lg-1 ratio_55">
                <div class="about-img">
                    <img class="bg-img img-fluid" src="/assets/images/about/11.jpg" alt="">
                    <div class="about-tag">
                        <a href="collection-left-sidebar.html">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-2 order-lg-2">
                <div class="">
                    <div class="sidebar-title">
                        <h3>نیکو قلم</h3>
                    </div>
                    <p>
                        هنر خوش نویسی یکی از میراث های گران بهای فرهنگ و تمدن ماست که در طی قرون نه تنها به عنوان ابزاری برای انتقال اندیشه بلکه به عنوان جلوه ای از ،زیبایی هنر و عرفان شناخته شده است. این هنر والا پیوندی عمیق با روح و جان آدمی برقرار کرده و از همان ابتدا توانسته است جایگاه ویژه ای در قلبهای علاقه مندان به فرهنگ و هنر بیابد. مجموعه ما تلاشی میکند در جهت آموختن اصول و ظرایف این هنر ماندگار از خط کشیهای اولیه تا پیچیدگیهای حرفه ای خطوط این پروژه به گونه ای طراحی شده است که خوانندگان در هر سطحی بتوانند از آن بهره مند شوند نویسنده با دقت و عشق ،فراوان نکاتی ارزشمند و تجربیاتی گران سنگ را در اختیار شما قرار داده تا راهنمایی باشد برای گام برداشتن در مسیر یادگیری خوشنویسی و کشف زیبایی های بی پایان
                        آن.
                        بر این باوریم که هنر خوشنویسی پلهای است میان گذشته و حال که با آن میتوان پیامهای دلنشین و ماندگاری را به نسلهای آینده منتقل کرد. امید است این اثر بتواند چراغی روشن در مسیر یادگیری و تمرین این هنر بی بدیل برای شما عزیزان باشد و شما را به لذت تماشای زیبایی در هر خط و کلمه دعوت کند
                        از همراهی شما هنرجویان گرامی که با دقت و علاقه به استقبال این اثر آمده اید سپاسگزاریم و آرزو داریم که این ،کتاب نه تنها چراغی در مسیر ،یادگیری بلکه الهام بخشی در سفر شما به دنیای هنر و فرهنگ
                        باشد.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-b-space layout-light">
    <div class="custom-container container">
        <div class="row gy-4">
            <div class="col-12">
                <div class="title-1">
                    <p>برتری ما<span></span></p>
                    <h3>برتری اولویت اول ماست.</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-icon">
                    <i class="iconsax" data-icon="blur"></i>
                    <h5>دسترسی آسان</h5>
                    <p>دانش‌آموزان و دانشجویان می‌توانند از هر مکانی که اینترنت دارد، به کلاس‌های آنلاین دسترسی پیدا کنند. این امر به ویژه برای افرادی که به دلیل مسافت یا شرایط خاص نمی‌توانند در کلاس‌های حضوری شرکت کنند، بسیار مفید است.</p>
                </div>
            </div> 
            <div class="col-md-4">
                <div class="about-icon">
                    <i class="iconsax" data-icon="diamonds"></i>
                    <h5>انعطاف پذیری در زمان</h5>
                    <p>کلاس‌های آنلاین معمولاً زمان‌بندی انعطاف‌پذیری دارند. دانش‌آموزان می‌توانند در زمان‌هایی که برایشان مناسب‌تر است، در کلاس‌ها شرکت کنند یا ویدئوهای ضبط شده را مشاهده کنند.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-icon">
                    <i class="iconsax" data-icon="media-sliders-3"></i>
                    <h5>کاهش هزینه ها</h5>
                    <p>شرکت در کلاس‌های آنلاین ممکن است هزینه‌های مربوط به حمل و نقل، اقامت و سایر هزینه‌های مرتبط با کلاس‌های حضوری را کاهش دهد.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-b-space">
    <div class="custom-container container">
        <div class="row">
            <div class="col-12">
                <div class="title-1">
                    <p>نظرات جدیدترین<span></span></p>
                    <h3>بازخورد مشتریان ما</h3>
                    <li>
                        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#addfeedback">افزودن بازخورد</a>
                    </li>
                </div>
            </div>
            <div id="feedbacks-list" class="col-12">
                <div class="swiper our-testimonials">
                    <div class="swiper-wrapper">
                        <!-- بازخوردها اینجا به‌صورت داینامیک اضافه می‌شوند -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="reviews-modal modal theme-modal fade" id="addfeedback" tabindex="-1" role="dialog" aria-modal="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>افزودن آدرس</h4>
                <button class="btn-close" id="add_feedBack_close" type="button" data-bs-dismiss="modal" aria-label="بستن"></button>
            </div>
            <div class="modal-body pt-0">
                <div class="row g-3">
                    <div class="col-6">
                        <div class="from-group"> <label class="form-label">مشتری</label><input class="form-control" id="CustomerName" type="text" name="" placeholder="نام مشتری را وارد کنید."></div>
                    </div>
                    <div class="col-12">
                        <div class="from-group"> <label class="form-label">بازخورد</label><textarea id="FeedBackText" class="form-control" cols="30" rows="5" placeholder="بازخورد خود را بنویسید..."></textarea></div>
                    </div><button class="btn btn-submit" id="btn_submit" type="submit" data-bs-dismiss="modal" aria-label="بستن">ثبت</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="/Scripts/FeedBack/Index.js"></script>
}