<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Katie">
    <meta name="keywords" content="Katie">
    <meta name="author" content="pixelstrap">
    <link rel="icon" href="/assets/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
    <title>نیکو قلم - فروشگاه اینترنتی مد </title><!-- Favicon icon-->
    <link rel="icon" href="/assets/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon"><!-- Google Font Outfit-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <!-- Font Awesome-->
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/fontawesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" /><!-- Iconsax icon-->
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/iconsax.css"><!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" id="rtl-link" href="/assets/css/vendors/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/swiper-slider/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/toastify.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link href="/assets/css/landing_page.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>




</head>

<body class="skeleton_body">
    <div class="tap-top">
        <div><i class="fa-solid fa-angle-up"></i></div>
    </div>
    <span class="cursor"><span class="cursor-move-inner"><span class="cursor-inner"></span></span><span class="cursor-move-outer"><span class="cursor-outer"></span></span></span>
    <div class="skeleton_loader">
        <section class="pt-0 home-section-3">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xxl-2 col-xl-4 d-none d-xl-block">
                        <ul class="menu">
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                        </ul>
                    </div>
                    <div class="col pe-0">
                        <a class="home-banner p-right" href="#">
                            <div class="img-wrapper"></div>
                            <div class="contain-banner">
                                <div>
                                    <h4> </h4>
                                    <h1> </h1>
                                    <p> </p><span></span>
                                    <h5> </h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-t-space">
            <div class="custom-container container service">
                <ul>
                    <li>
                        <div class="service-block">
                            <div class="img-wrapper"></div>
                            <div>
                                <h6> </h6>
                                <p> </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="service-block">
                            <div class="img-wrapper"></div>
                            <div>
                                <h6> </h6>
                                <p> </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="service-block">
                            <div class="img-wrapper"></div>
                            <div>
                                <h6> </h6>
                                <p></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="service-block border-0">
                            <div class="img-wrapper"></div>
                            <div>
                                <h6> </h6>
                                <p> </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <section class="section-b-space">
            <div class="custom-container container">
                <div class="row">
                    <div class="col-xxl-5 col-md-8">
                        <div class="row gy-4 ratio_45">
                            <div class="col-12">
                                <a class="collection-banner p-left" href="#">
                                    <div class="img-wrapper"></div>
                                    <div class="contain-banner">
                                        <div>
                                            <h4> </h4>
                                            <h3> </h3>
                                            <h6></h6>
                                            <h5> </h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-12">
                                <a class="collection-banner p-right" href="#">
                                    <div class="img-wrapper"></div>
                                    <div class="contain-banner">
                                        <div>
                                            <h4> </h4>
                                            <h3></h3>
                                            <h6></h6>
                                            <h5> </h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-3 col-4 d-none d-md-block">
                        <div class="special-offer-slider">
                            <h4> </h4>
                            <div class="swiper special-offer-slide">
                                <div class="swiper-wrapper trending-products">
                                    <div class="swiper-slide product-box-4">
                                        <div class="img-wrapper">
                                            <div class="product-image"></div>
                                        </div>
                                        <div class="product-detail">
                                            <div>
                                                <h6> </h6>
                                                <p> </p>
                                            </div>
                                            <ul>
                                                <li> </li>
                                            </ul>
                                        </div>
                                        <div class="product-size-stock">
                                            <div class="size-box">
                                                <span> </span>
                                                <p></p>
                                            </div>
                                            <div class="size-box">
                                                <span> </span>
                                                <p> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-4 d-none d-xxl-block">
                        <div class="offer-banner-3 ratio1_3">
                            <div class="img-wrapper"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <header>
        <div class="top_header">
            <p>کد تخفیف رایگان: فروش تابستانه بر روی اقلام منتخب استفاده کنید: <span>جدید 26</span><a href="collection-left-sidebar.html"> خرید کنید</a></p>
        </div>
        <div class="custom-container container header-1">
            <div class="row">
                @if (Context.Request.Path != "/Account/Login")
                {
                    <div class="col-12 p-0">
                        <div class="mobile-fix-option">
                            <ul>
                                <li><a href="/"><i class="iconsax" data-icon="home-1"></i>خانه</a></li>
                                <li><a href="/Dashboard"><i class="iconsax" data-icon="user-2"></i>حساب کاربری</a></li>
                            </ul>
                        </div>
                    </div>
                }
                <div class="col-12">
                    <div class="main-menu">
                        <a class="brand-logo" href="index.html">
                            <img class="img-fluid for-light" loading="lazy" src="/assets/images/logo/IMG_20241126_225526_056_11zon.webp" alt="لوگو">
                        </a>
                        <nav id="main-nav">
                            <ul class="nav-menu sm-horizontal theme-scrollbar" id="sm-horizontal">
                                <li class="mobile-back" id="mobile-back">بازگشت<i class="fa-solid fa-angle-right ps-2" aria-hidden="true"></i></li>
                                <li>
                                    <a class="nav-link" href="/Home/Index">خانه</a>

                                </li>
                                <li>
                                    <a class="nav-link" href="/Dashboard/Index">داشبورد من</a>
                                </li>
                                <li>
                                    <a class="nav-link" href="/AboutUs/Index">درباره ما</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="sub_header">
                            <div class="toggle-nav" id="toggle-nav">
                                <i class="fa-solid fa-bars-staggered sidebar-bar"></i>
                            </div>

                            <ul class="justify-content-end">
                                @*     @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                <li>
                                <a class="nav-link" data-bs-toggle="modal" data-bs-target="#addProductModal">افزودن محصول</a>
                                </li>
                                }
                                *@
                                <li class="onhover-div">
                                    <a href="#"><i class="iconsax" data-icon="user-2"></i></a>
                                    <div class="onhover-show-div user">
                                        <ul>
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                <li> <a data-bs-toggle="modal" data-bs-target="#Confirmation-modal">خروج</a></li>
                                                <li> <a href="/Dashboard">داشبورد</a></li>
                                            }
                                            else
                                            {
                                                <li> <a href="/Account/Login">ورود</a></li>
                                            }

                                        </ul>
                                    </div>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </header>

    @RenderBody()


    <footer class="footer-layout-img">
        <section class="section-b-space footer-1">
            <div class="custom-container container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="footer-content">
                            <div class="footer-logo"><a href="index.html"> <img class="img-fluid" src="/assets/images/logo/image.png" alt="لوگوی فوتر"></a></div>
                            <ul>

                                <li>
                                    <i class="iconsax" data-icon="phone-calling"></i>
                                    <h6>989033266571+</h6>
                                </li>
                                <li>
                                    <i class="iconsax" data-icon="mail"></i>
                                    <h6>nikoghalam1@gmail.com</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col offset-xl-1">
                        <div class="footer-content">
                            <div>
                                <div class="footer-title d-md-block">
                                    <h5>درباره ما</h5>
                                    <ul class="footer-details accordion-hidden">
                                        <li> <a class="nav" href="/Home/Index">خانه</a></li>
                                        <li> <a class="nav" href="/AboutUs/Index">درباره ما</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-content">
                            <div>
                                <div class="footer-title d-md-block">
                                    <h5>کمک دریافت کنید</h5>
                                    <ul class="footer-details accordion-hidden">
                                        <li> <a class="nav" href="order-success.html">سفارشات شما</a></li>
                                        <li> <a class="nav" href="/Dashboard/Index">حساب کاربری شما</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a referrerpolicy='origin' target='_blank' href='https://trustseal.enamad.ir/?id=592328&Code=YK3nK20Audterzy8l2MwgG5vTkdgLL3b'><img referrerpolicy='origin' src='https://trustseal.enamad.ir/logo.aspx?id=592328&Code=YK3nK20Audterzy8l2MwgG5vTkdgLL3b' alt='' style='cursor:pointer' code='YK3nK20Audterzy8l2MwgG5vTkdgLL3b'></a>
                </div>
            </div>
        </section>
    </footer>


    <div class="modal theme-modal fade confirmation-modal" id="Confirmation-modal" tabindex="-1" role="dialog" aria-modal="true">
        <div class="modal-dialog modal-md modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img class="img-fluid" src="../assets/images/gif/question.gif" alt="">
                    <h4>تایید</h4>
                    <p>آیا مطمئن هستید که می خواهید ادامه دهید؟</p>
                    <div class="submit-button"> <button class="btn" type="submit" data-bs-dismiss="modal" aria-label="بستن">خیر</button><a id="btn_logout" class="btn">بله</a></div>
                </div>
            </div>
        </div>
    </div>



    <!-- Bootstrap js-->

    <script src="/assets/js/bootstrap/bootstrap.bundle.min.js"></script><!-- iconsax js -->
    <script src="/assets/js/iconsax.js"> </script><!-- cursor js-->
    <script src="/assets/js/stats.min.js"> </script>
    <script src="/assets/js/cursor.js"> </script>
    <script src="/assets/js/swiper-slider/swiper-bundle.min.js"></script>
    <script src="/assets/js/swiper-slider/swiper-custom.js"></script>
    <script src="/assets/js/countdown.js"></script>
    <script src="/assets/js/newsletter.js"></script>
    <script src="/assets/js/skeleton-loader.js"></script><!-- touchspin-->
    <script src="/assets/js/touchspin.js"></script><!-- cookie js-->
    <script src="/assets/js/cookie.js"></script><!-- tost js -->
    <script src="/assets/js/toastify.js"></script>
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/site.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>


</html>