<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Katie">
    <meta name="keywords" content="Katie">
    <meta name="author" content="pixelstrap">
    <link rel="icon" href="/assets/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
    <title>نیکو قلم - فروشگاه اینترنتی مد </title><!-- Favicon icon-->
    <link rel="icon" href="/assets/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon"><!-- Google Font Outfit-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <!-- Font Awesome-->
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/fontawesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" /><!-- Iconsax icon-->
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/iconsax.css"><!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" id="rtl-link" href="/assets/css/vendors/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/swiper-slider/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/toastify.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link href="/assets/css/landing_page.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>




</head>

<body class="skeleton_body">
    <div class="tap-top">
        <div><i class="fa-solid fa-angle-up"></i></div>
    </div>
    <span class="cursor"><span class="cursor-move-inner"><span class="cursor-inner"></span></span><span class="cursor-move-outer"><span class="cursor-outer"></span></span></span>
    <div class="skeleton_loader">
        <section class="pt-0 home-section-3">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xxl-2 col-xl-4 d-none d-xl-block">
                        <ul class="menu">
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                        </ul>
                    </div>
                    <div class="col pe-0">
                        <a class="home-banner p-right" href="#">
                            <div class="img-wrapper"></div>
                            <div class="contain-banner">
                                <div>
                                    <h4> </h4>
                                    <h1> </h1>
                                    <p> </p><span></span>
                                    <h5> </h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-t-space">
            <div class="custom-container container service">
                <ul>
                    <li>
                        <div class="service-block">
                            <div class="img-wrapper"></div>
                            <div>
                                <h6> </h6>
                                <p> </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="service-block">
                            <div class="img-wrapper"></div>
                            <div>
                                <h6> </h6>
                                <p> </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="service-block">
                            <div class="img-wrapper"></div>
                            <div>
                                <h6> </h6>
                                <p></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="service-block border-0">
                            <div class="img-wrapper"></div>
                            <div>
                                <h6> </h6>
                                <p> </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <section class="section-b-space">
            <div class="custom-container container">
                <div class="row">
                    <div class="col-xxl-5 col-md-8">
                        <div class="row gy-4 ratio_45">
                            <div class="col-12">
                                <a class="collection-banner p-left" href="#">
                                    <div class="img-wrapper"></div>
                                    <div class="contain-banner">
                                        <div>
                                            <h4> </h4>
                                            <h3> </h3>
                                            <h6></h6>
                                            <h5> </h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-12">
                                <a class="collection-banner p-right" href="#">
                                    <div class="img-wrapper"></div>
                                    <div class="contain-banner">
                                        <div>
                                            <h4> </h4>
                                            <h3></h3>
                                            <h6></h6>
                                            <h5> </h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-3 col-4 d-none d-md-block">
                        <div class="special-offer-slider">
                            <h4> </h4>
                            <div class="swiper special-offer-slide">
                                <div class="swiper-wrapper trending-products">
                                    <div class="swiper-slide product-box-4">
                                        <div class="img-wrapper">
                                            <div class="product-image"></div>
                                        </div>
                                        <div class="product-detail">
                                            <div>
                                                <h6> </h6>
                                                <p> </p>
                                            </div>
                                            <ul>
                                                <li> </li>
                                            </ul>
                                        </div>
                                        <div class="product-size-stock">
                                            <div class="size-box">
                                                <span> </span>
                                                <p></p>
                                            </div>
                                            <div class="size-box">
                                                <span> </span>
                                                <p> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-4 d-none d-xxl-block">
                        <div class="offer-banner-3 ratio1_3">
                            <div class="img-wrapper"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <header>
        <div class="top_header">
            <p>کد تخفیف رایگان: فروش تابستانه بر روی اقلام منتخب استفاده کنید: <span>جدید 26</span><a href="collection-left-sidebar.html"> خرید کنید</a></p>
        </div>
        <div class="custom-container container header-1">
            <div class="row">
                <div class="col-12">
                    <div class="main-menu">
                        <a class="brand-logo" href="index.html">
                            <img class="img-fluid for-light" src="/assets/images/logo/IMG_20241126_225526_056.png" alt="لوگو">
                        </a>
                        <nav id="main-nav">
                            <ul class="nav-menu sm-horizontal theme-scrollbar" id="sm-horizontal">
                                <li class="mobile-back" id="mobile-back">بازگشت<i class="fa-solid fa-angle-right ps-2" aria-hidden="true"></i></li>
                                <li>
                                    <a class="nav-link" href="/Home/Index">خانه</a>

                                </li>
                                <li>
                                    <a class="nav-link" href="/Dashboard/Index">داشبورد من</a>
                                </li>
                                <li>
                                    <a class="nav-link" href="/AboutUs/Index">درباره ما</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="sub_header">
                            <div class="toggle-nav" id="toggle-nav">
                                <i class="fa-solid fa-bars-staggered sidebar-bar"></i>
                            </div>

                            <ul class="justify-content-end">
                                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <li>
                                    <a class="nav-link" data-bs-toggle="modal" data-bs-target="#addProductModal">افزودن محصول</a>
                                    </li>
                                } 
                           
                                <li class="onhover-div">
                                    <a href="#"><i class="iconsax" data-icon="user-2"></i></a>
                                    <div class="onhover-show-div user">
                                        <ul>
                                            @if(User.Identity.IsAuthenticated)
                                            {
                                            <li> <a id="btn-logout">خروج</a></li>
                                                <li> <a href="/Dashboard">داشبورد</a></li>
                                            }
                                            else
                                            {
                                                <li> <a href="/Account/Login">ورود</a></li>
                                            }

                                        </ul>
                                    </div>
                                </li>
                                <li class="onhover-div shopping-cart">
                                    <a class="p-0" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                                        <div class="shoping-prize">
                                            <i class="iconsax pe-2" data-icon="basket-2"></i>
                                        </div>
                                    </a>
                                </li>
                             
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </header>

    @RenderBody();
    <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addProductModalLabel">افزودن محصول جدید</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="بستن"></button>
                </div>
                <div class="modal-body">
                    <form id="addProductForm">
                        <div class="mb-3">
                            <label for="Name" class="form-label">نام محصول</label>
                            <input type="text" class="form-control" id="Name" name="Name" required>
                            <small id="Name_error" class="text-danger" style="display:none;">نام محصول الزامی است.</small>
                        </div>
                        <div class="mb-3">
                            <label for="Description" class="form-label">توضیحات</label>
                            <textarea class="form-control" id="Description" name="Description"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="Price" class="form-label">قیمت</label>
                            <input type="number" class="form-control" id="Price" name="Price" required>
                            <small id="Price_error" class="text-danger" style="display:none;">قیمت معتبر وارد کنید.</small>
                        </div>
                        <div class="mb-3">
                            <label for="ImageFile" class="form-label">آپلود تصویر</label>
                            <input type="file" class="form-control" id="ImageFile" name="ImageFile" accept="image/*">
                        </div>

                        <button type="button" id="btn_submit" class="btn btn-success">افزودن محصول</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <footer class="footer-layout-img">
        <section class="section-b-space footer-1">
            <div class="custom-container container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="footer-content">
                            <div class="footer-logo"><a href="index.html"> <img class="img-fluid" src="/assets/images/logo/logo-White.png" alt="لوگوی فوتر"></a></div>
                            <ul>
                           
                                <li>
                                    <i class="iconsax" data-icon="phone-calling"></i>
                                    <h6>989033266571+</h6>
                                </li>
                                <li>
                                    <i class="iconsax" data-icon="mail"></i>
                                    <h6>nikoghalam1@gmail.com</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col offset-xl-1">
                        <div class="footer-content">
                            <div>
                                <div class="footer-title d-md-block">
                                    <h5>درباره ما</h5>
                                    <ul class="footer-details accordion-hidden">
                                        <li> <a class="nav" href="/Home/Index">خانه</a></li>
                                        <li> <a class="nav" href="/AboutUs/Index">درباره ما</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-content">
                            <div>
                                <div class="footer-title d-md-block">
                                    <h5>کمک دریافت کنید</h5>
                                    <ul class="footer-details accordion-hidden">
                                        <li> <a class="nav" href="order-success.html">سفارشات شما</a></li>
                                        <li> <a class="nav" href="/Dashboard/Index">حساب کاربری شما</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      
    </footer>

    <div class="modal theme-modal fade" id="quick-view" tabindex="-1" role="dialog" aria-modal="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="بستن"></button>
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-xs-12">
                            <div class="quick-view-img">
                                <div class="swiper modal-slide-1">
                                    <div class="swiper-wrapper ratio_square-2">
                                        <div class="swiper-slide"><img class="bg-img" src="../assets/images/pro/1.jpg" alt="تصویر ۱"></div>
                                        <div class="swiper-slide"><img class="bg-img" src="../assets/images/pro/2.jpg" alt="تصویر ۲"></div>
                                        <div class="swiper-slide"><img class="bg-img" src="../assets/images/pro/3.jpg" alt="تصویر ۳"></div>
                                        <div class="swiper-slide"><img class="bg-img" src="../assets/images/pro/4.jpg" alt="تصویر ۴"></div>
                                    </div>
                                </div>
                                <div class="swiper modal-slide-2">
                                    <div class="swiper-wrapper ratio3_4">
                                        <div class="swiper-slide"><img class="bg-img" src="../assets/images/pro/5.jpg" alt="تصویر ۵"></div>
                                        <div class="swiper-slide"><img class="bg-img" src="../assets/images/pro/6.jpg" alt="تصویر ۶"></div>
                                        <div class="swiper-slide"><img class="bg-img" src="../assets/images/pro/7.jpg" alt="تصویر ۷"></div>
                                        <div class="swiper-slide"><img class="bg-img" src="../assets/images/pro/8.jpg" alt="تصویر ۸"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 rtl-text">
                            <div class="product-right">
                                <h3>پیراهن صورتی زنانه</h3>
                                <h5> 32.96 تومان<del> 50.12 تومان</del></h5>
                                <ul class="color-variant">
                                    <li class="bg-color-brown"></li>
                                    <li class="bg-color-chocolate"></li>
                                    <li class="bg-color-coffee"></li>
                                    <li class="bg-color-black"></li>
                                </ul>
                                <div class="border-product">
                                    <h6>جزئیات محصول</h6>
                                    <p>یقه غربی بر روی پیراهن ایندیکو ساخته شده از 100% پنبه. این پیراهن برای تجمعات غیررسمی ایده‌آل است و راحتی و استایل شما را در طول روز تضمین می‌کند.</p>
                                </div>
                                <div class="product-description">
                                    <div class="size-box">
                                        <ul>
                                            <li class="active"><a href="#">s</a></li>
                                            <li><a href="#">m</a></li>
                                            <li><a href="#">l</a></li>
                                            <li><a href="#">xl</a></li>
                                        </ul>
                                    </div>
                                    <h6 class="product-title">تعداد</h6>
                                    <div class="quantity"><button class="minus" type="button"><i class="fa-solid fa-minus"></i></button><input type="number" value="1" min="1" max="20"><button class="plus" type="button"><i class="fa-solid fa-plus"></i></button></div>
                                </div>
                                <div class="product-buttons"><a class="btn btn-solid mx-2" href="cart.html">اضافه به سبد خرید</a><a class="btn btn-solid" href="product.html">مشاهده جزئیات</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal theme-modal fade cart-modal" id="addtocart" tabindex="-1" role="dialog" aria-modal="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body modal1">
                    <div class="custom-container container">
                        <div class="row">
                            <div class="col-12 px-0">
                                <div class="modal-bg addtocart">
                                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="بستن"></button>
                                    <div class="d-flex">
                                        <a href="#"><img class="img-fluid blur-up lazyload pro-img" src="../assets/images/modal/0.jpg" alt="تصویر"></a>
                                        <div class="add-card-content align-self-center text-center">
                                            <a href="#">
                                                <h6><i class="fa-solid fa-check"></i> آیتم <span>پیراهن مردانه با آستین بلند</span><span> با موفقیت به سبد خرید شما اضافه شد</span></h6>
                                            </a>
                                            <div class="buttons">
                                                <a class="view-cart btn btn-solid" href="cart.html">سبد خرید شما</a>
                                                <a class="checkout btn btn-solid" href="check-out.html">تسویه حساب</a>
                                                <a class="continue btn btn-solid" href="index.html">ادامه خرید</a>
                                            </div>
                                            <div class="upsell_payment">
                                                <img class="img-fluid blur-up lazyload" src="../assets/images/payment_cart.png" alt="پرداخت">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-end shopping-details" id="offcanvasRight" tabindex="-1" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h4 class="offcanvas-title" id="offcanvasRightLabel">سبد خرید</h4>
            <button class="btn-close" type="button" data-bs-dismiss="offcanvas" aria-label="بستن"></button>
        </div>
        <div class="offcanvas-body theme-scrollbar">
            <ul class="offcanvas-cart">
                <li>
                    <a href="#"> <img src="../assets/images/cart/1.jpg" alt="تصویر محصول"></a>
                    <div>
                        <h6 class="mb-0">پیراهن‌های مردانه</h6>
                        <p>
                            ۳۵ تومان <del>۴۰ تومان</del>
                            <span class="btn-cart"> <span class="btn-cart__total" id="total">۱۰۵</span></span>
                        </p>
                        <div class="btn-containter">
                            <div class="btn-control">
                                <button class="btn-control__remove" id="btn-remove">-</button>
                                <div class="btn-control__quantity">
                                    <div id="quantity-previous">۲</div>
                                    <div id="quantity-current">۳</div>
                                    <div id="quantity-next">۴</div>
                                </div>
                                <button class="btn-control__add" id="btn-add">+</button>
                            </div>
                        </div>
                    </div>
                    <i class="iconsax delete-icon" data-icon="trash"></i>
                </li>
                <li>
                    <a href="#"> <img src="../assets/images/cart/2.jpg" alt="تصویر محصول"></a>
                    <div>
                        <h6 class="mb-0">پیراهن‌های مردانه</h6>
                        <p>
                            ۳۵ تومان <del>۴۰ تومان</del>
                            <span class="btn-cart"> <span class="btn-cart__total" id="total1">۱۰۵</span></span>
                        </p>
                        <div class="btn-containter">
                            <div class="btn-control">
                                <button class="btn-control__remove" id="btn-remove1">-</button>
                                <div class="btn-control__quantity">
                                    <div id="quantity1-previous">۲</div>
                                    <div id="quantity1-current">۳</div>
                                    <div id="quantity1-next">۴</div>
                                </div>
                                <button class="btn-control__add" id="btn-add1">+</button>
                            </div>
                        </div>
                    </div>
                    <i class="iconsax delete-icon" data-icon="trash"></i>
                </li>
                <li>
                    <a href="#"> <img src="../assets/images/cart/3.jpg" alt="تصویر محصول"></a>
                    <div>
                        <h6 class="mb-0">پیراهن‌های مردانه</h6>
                        <p>
                            ۳۵ تومان <del>۴۰ تومان</del>
                            <span class="btn-cart"> <span class="btn-cart__total" id="total2">۱۰۵</span></span>
                        </p>
                        <div class="btn-containter">
                            <div class="btn-control">
                                <button class="btn-control__remove" id="btn-remove2">-</button>
                                <div class="btn-control__quantity">
                                    <div id="quantity2-previous">۲</div>
                                    <div id="quantity2-current">۳</div>
                                    <div id="quantity2-next">۴</div>
                                </div>
                                <button class="btn-control__add" id="btn-add2">+</button>
                            </div>
                        </div>
                    </div>
                    <i class="iconsax delete-icon" data-icon="trash"></i>
                </li>
                <li>
                    <a href="#"> <img src="../assets/images/cart/4.jpg" alt="تصویر محصول"></a>
                    <div>
                        <h6 class="mb-0">پیراهن‌های مردانه</h6>
                        <p>
                            ۳۵ تومان <del>۴۰ تومان</del>
                            <span class="btn-cart"> <span class="btn-cart__total" id="total3">۱۰۵</span></span>
                        </p>
                        <div class="btn-containter">
                            <div class="btn-control">
                                <button class="btn-control__remove" id="btn-remove3">-</button>
                                <div class="btn-control__quantity">
                                    <div id="quantity3-previous">۲</div>
                                    <div id="quantity3-current">۳</div>
                                    <div id="quantity3-next">۴</div>
                                </div>
                                <button class="btn-control__add" id="btn-add3">+</button>
                            </div>
                        </div>
                    </div>
                    <i class="iconsax delete-icon" data-icon="trash"></i>
                </li>
            </ul>
        </div>
        <div class="offcanvas-footer">
            <p>برای بهره‌مندی از ارسال رایگان، ۱۴٫۸۱ تومان دیگر خرج کنید!</p>
            <div class="footer-range-slider">
                <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="46" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-striped progress-bar-animated theme-default" style="width: 46%"></div>
                </div>
            </div>
            <div class="price-box">
                <h6>مجموع :</h6>
                <p>۴۹٫۵۹ تومان USD</p>
            </div>
            <div class="cart-button">
                <a class="btn btn_outline" href="cart.html">مشاهده سبد خرید</a>
                <a class="btn btn_black" href="check-out.html">پرداخت</a>
            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-top search-details" id="offcanvasTop" tabindex="-1" aria-labelledby="offcanvasTopLabel">
        <div class="offcanvas-header">
            <button class="btn-close" type="button" data-bs-dismiss="offcanvas" aria-label="بستن">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="offcanvas-body theme-scrollbar">
            <div class="container">
                <h3>چه چیزی را می‌خواهید پیدا کنید؟</h3>
                <div class="search-box">
                    <input type="search" name="text" placeholder="من به دنبال… هستم">
                    <i class="iconsax" data-icon="search-normal-2"></i>
                </div>
                <h4>جستجوهای محبوب</h4>
                <ul class="rapid-search">
                    <li><a href="collection-left-sidebar.html"><i class="iconsax" data-icon="search-normal-2"></i>شلوارهای زنانه</a></li>
                    <li><a href="collection-left-sidebar.html"><i class="iconsax" data-icon="search-normal-2"></i>بلزرهای زنانه</a></li>
                    <li><a href="collection-left-sidebar.html"><i class="iconsax" data-icon="search-normal-2"></i>شلوارهای مردانه</a></li>
                    <li><a href="collection-left-sidebar.html"><i class="iconsax" data-icon="search-normal-2"></i>بلزرهای مردانه</a></li>
                    <li><a href="collection-left-sidebar.html"><i class="iconsax" data-icon="search-normal-2"></i>تی‌شرت‌های مردانه</a></li>
                    <li><a href="collection-left-sidebar.html"><i class="iconsax" data-icon="search-normal-2"></i>کفش‌های مردانه</a></li>
                    <li><a href="collection-left-sidebar.html"><i class="iconsax" data-icon="search-normal-2"></i>تی‌شرت‌های زنانه</a></li>
                    <li><a href="collection-left-sidebar.html"><i class="iconsax" data-icon="search-normal-2"></i>کیف‌ها</a></li>
                    <li><a href="collection-left-sidebar.html"><i class="iconsax" data-icon="search-normal-2"></i>اسنیکرهای زنانه</a></li>
                    <li><a href="collection-left-sidebar.html"><i class="iconsax" data-icon="search-normal-2"></i>دresses</a></li>
                </ul>
                <h4>شما ممکن است این‌ها را دوست داشته باشید</h4>
                <div class="row gy-4 ratio_square-2 preemptive-search">
                    <!-- Product Box Start -->
                    <div class="col-xl-2 col-sm-4 col-6">
                        <div class="product-box-6">
                            <div class="img-wrapper">
                                <div class="product-image">
                                    <a href="product.html">
                                        <img class="bg-img" src="../assets/images/product/product-2/blazers/1.jpg" alt="تی‌شرت زنانه استایل">
                                    </a>
                                </div>
                            </div>
                            <div class="product-detail">
                                <a href="product.html">
                                    <h6>تی‌شرت زنانه استایل</h6>
                                </a>
                                <p>50.00 تومان</p>
                                <ul class="rating">
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star-half-stroke"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li>4+</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Product Box End -->
                    <!-- Repeat for other products -->
                    <div class="col-xl-2 col-sm-4 col-6">
                        <div class="product-box-6">
                            <div class="img-wrapper">
                                <div class="product-image">
                                    <a href="product.html">
                                        <img class="bg-img" src="../assets/images/product/product-2/blazers/2.jpg" alt="تی‌شرت زنانه استایل">
                                    </a>
                                </div>
                            </div>
                            <div class="product-detail">
                                <a href="product.html">
                                    <h6>تی‌شرت زنانه استایل</h6>
                                </a>
                                <p>95.00 تومان <del>140.00 تومان</del></p>
                                <ul class="rating">
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star-half-stroke"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li>3+</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Repeat for other products -->
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap js-->

    <script src="/assets/js/bootstrap/bootstrap.bundle.min.js"></script><!-- iconsax js -->
    <script src="/assets/js/iconsax.js"> </script><!-- cursor js-->
    <script src="/assets/js/stats.min.js"> </script>
    <script src="/assets/js/cursor.js"> </script>
    <script src="/assets/js/swiper-slider/swiper-bundle.min.js"></script>
    <script src="/assets/js/swiper-slider/swiper-custom.js"></script>
    <script src="/assets/js/countdown.js"></script>
    <script src="/assets/js/newsletter.js"></script>
    <script src="/assets/js/skeleton-loader.js"></script><!-- touchspin-->
    <script src="/assets/js/touchspin.js"></script><!-- cookie js-->
    <script src="/assets/js/cookie.js"></script><!-- tost js -->
    <script src="/assets/js/toastify.js"></script>
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/site.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>


</html>