@* @model User *@

<div class="tap-top">
    <div><i class="fa-solid fa-angle-up"></i></div>
</div><span class="cursor"><span class="cursor-move-inner"><span class="cursor-inner"></span></span><span class="cursor-move-outer"><span class="cursor-outer"></span></span></span>
<section class="section-b-space pt-0">
    <div class="heading-banner">
        <div class="custom-container container">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h4>داشبورد</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-b-space pt-0">
    <div class="custom-container container user-dashboard-section">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="left-dashboard-show"><button id="btn-menu" class="btn btn_black sm rounded bg-primary">نمایش منو</button></div>
                <div class="dashboard-left-sidebar sticky">
                    <div class="profile-box">
                        <div class="profile-bg-img"></div>
                        <div class="dashboard-left-sidebar-close"><i class="fa-solid fa-xmark"></i></div>
                        <div class="profile-contain">
                            <div class="profile-image">
                                <svg width="150" height="150" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 5C13.66 5 15 6.34 15 8C15 9.66 13.66 11 12 11C10.34 11 9 9.66 9 8C9 6.34 10.34 5 12 5ZM12 19.2C9.5 19.2 7.29 17.92 6 15.98C6.03 13.99 10 12.9 12 12.9C13.99 12.9 17.97 13.99 18 15.98C16.71 17.92 14.5 19.2 12 19.2Z" fill="#ccc" />
                                </svg>
                            </div>
                            <div class="profile-name">
                                <h4></h4>
                                <h6></h6><span data-bs-toggle="modal" data-bs-target="#add-dashboard" title="نمایش سریع" tabindex="0">ویرایش پروفایل</span>
                            </div>
                        </div>
                    </div>
                    <ul class="nav flex-column nav-pills dashboard-tab" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <li><button class="nav-link active" id="dashboard-tab" data-bs-toggle="pill" data-bs-target="#dashboard" role="tab" aria-controls="dashboard" aria-selected="true"><i class="iconsax" data-icon="home-1"></i> داشبورد</button></li>
                        <li><button class="nav-link" id="order-tab" data-bs-toggle="pill" data-bs-target="#order" role="tab" aria-controls="order" aria-selected="false"><i class="iconsax" data-icon="receipt-square"></i>فاکتور ها</button></li>
                        <li><button class="nav-link" id="address-tab" data-bs-toggle="pill" data-bs-target="#address" role="tab" aria-controls="address" aria-selected="false"><i class="iconsax" data-icon="cue-cards"></i>آدرس‌ها</button></li>
                    </ul>
                    <div class="logout-button"> <a class="btn btn_black sm" data-bs-toggle="modal" data-bs-target="#Confirmation-modal" title="نمایش سریع" tabindex="0" ><i class="iconsax me-1" style="transform: rotate(180deg);" data-icon="logout-1"></i> خروج </a></div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                        <div class="dashboard-right-box">
                            <div class="my-dashboard-tab">
                                <div class="dashboard-items"> </div>
                                <div class="sidebar-title">
                                    <div class="loader-line"></div>
                                    <h4>داشبورد من</h4>
                                </div>
                                <div class="profile-about">
                                    <div class="row">
                                        <div class="col-xl-7">
                                            <div class="sidebar-title">
                                                <div class="loader-line"></div>
                                                <h5>اطلاعات پروفایل</h5>
                                            </div>
                                            <ul class="profile-information">
                                                <li>
                                                    <h6>نام :</h6>
                                                    <p></p>
                                                </li>
                                                <li>
                                                    <h6 class="justnumber User-phone">تلفن:</h6>
                                                    <p>@* @Model.PhoneNumber *@</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-xl-5">
                                            <div class="profile-image d-none d-xl-block"> <img class="img-fluid" loading="lazy" src="/assets/images/other-img/dashboard_11zon.webp" alt=""></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="order" role="tabpanel" aria-labelledby="order-tab">
                        <div class="dashboard-right-box">
                            <div class="order">
                                <div class="sidebar-title">
                                    <div class="loader-line"></div>
                                    <h4>فاکتور ها</h4>
                                </div>
                                <div class="row gy-4" id="invoice-list">
                                    <!-- فاکتورها به صورت داینامیک در این بخش نمایش داده می‌شوند -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                        <div class="dashboard-right-box">
                            <div class="address-tab">
                                <div class="sidebar-title">
                                    <div class="loader-line"></div>
                                    <h4>جزئیات آدرس من</h4>
                                </div>
                                <div class="row gy-3">
                                    <div class="col-xxl-4 col-md-6">
                                        <div class="address-option">
                                            <label for="address-billing-0">
                                                <span class="delivery-address-box">
                                                    <span class="address-detail">
                                                        <span class="address">
                                                            <span class="address-title">خانه جدید</span>
                                                        </span>
                                                        <span class="address">
                                                            <span class="address-home">
                                                                <span class="address-tag"> آدرس:</span>
                                                            </span>
                                                        </span>
                                                        <span class="address">
                                                            <span class="address-home">
                                                                <span class="address-tag justnumber">
                                                                    کد پستی:
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                                <span class="buttons">
                                                    <a class="btn btn_black sm" href="#" data-bs-toggle="modal" data-bs-target="#edit-box" title="مشاهده سریع" tabindex="0">ویرایش</a>
                                                    <a class="btn btn_outline sm" href="#" data-bs-toggle="modal" data-bs-target="#bank-card-modal" title="مشاهده سریع" tabindex="0">حذف</a>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div><button class="btn add-address" data-bs-toggle="modal" data-bs-target="#add-address" title="مشاهده سریع" tabindex="0">+ افزودن آدرس</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="reviews-modal modal theme-modal fade" id="add-dashboard" tabindex="-1" role="dialog" aria-modal="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>ویرایش پروفایل</h4>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="بستن"></button>
            </div>
            <div class="modal-body pt-0">
                <div class="row g-3">
                    <div class="col-6">
                        <div class="from-group">
                            <label class="form-label">نام <span class="text-danger">*</span></label>
                            <input id="Name" class="form-control" type="text" name="Name" placeholder="نام خود را وارد کنید.">
                            <div id="Name_error" class="text-danger mt-1" style="display: none; font-size: 12px;">لطفاً نام را وارد کنید</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="from-group">
                            <label class="form-label">تلفن</label>
                            <input id="Phone" class="form-control" type="text" name="Phone" readonly>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="from-group">
                            <label class="form-label">آدرس</label>
                            <textarea id="Address" class="form-control" cols="30" rows="5" placeholder="آدرس خود را بنویسید..."></textarea>
                        </div>
                    </div>
                    <button class="btn btn-submit" type="button" id="btn_submit">ارسال</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="reviews-modal modal theme-modal fade" id="add-address" tabindex="-1" role="dialog" aria-modal="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>افزودن آدرس</h4>
                <button class="btn-close" id="add_Address_close" type="button" data-bs-dismiss="modal" aria-label="بستن"></button>
            </div>
            <div class="modal-body pt-0">
                <div class="row g-3">
                    <div class="col-6">
                        <div class="from-group">
                            <label class="form-label">عنوان <span class="text-danger">*</span></label>
                            <input class="form-control" id="Address_Title" type="text" placeholder="عنوان آدرس را وارد کنید.">
                            <div id="Address_Title_error" class="text-danger mt-1" style="display: none; font-size: 12px;">لطفاً عنوان آدرس را وارد کنید</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="from-group">
                            <label class="form-label">کد پستی<span class="text-danger">*</span></label>
                            <input class="form-control justnumber" id="PostalCode" type="text" placeholder="کد پستی خود را وارد کنید.">
                            <div id="PostalCode_error" class="text-danger mt-1" style="display: none; font-size: 12px;">لطفاً کد پستی را وارد کنید</div>

                        </div>
                    </div>
                    <div class="col-6">
                        <div class="from-group">
                            <label class="form-label">استان <span class="text-danger">*</span></label>
                            <input id="Province" class="form-control" type="text" placeholder="استان خود را وارد کنید.">
                            <div id="Province_error" class="text-danger mt-1" style="display: none; font-size: 12px;">لطفاً استان را وارد کنید</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="from-group">
                            <label class="form-label">شهر <span class="text-danger">*</span></label>
                            <input id="City" class="form-control" type="text" placeholder="شهر خود را وارد کنید.">
                            <div id="City_error" class="text-danger mt-1" style="display: none; font-size: 12px;">لطفاً شهر را وارد کنید</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="from-group">
                            <label class="form-label">تلفن</label>
                            <input id="PhoneNumber" class="form-control justnumber" type="number" placeholder="تلفن خود را وارد کنید.">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="from-group">
                            <label class="form-label">آدرس <span class="text-danger">*</span></label>
                            <textarea id="AddressText" class="form-control" cols="30" rows="5" placeholder="آدرس خود را بنویسید..."></textarea>
                            <div id="AddressText_error" class="text-danger mt-1" style="display: none; font-size: 12px;">لطفاً آدرس را وارد کنید</div>
                        </div>
                    </div>
                    <button class="btn btn-submit" id="Address_submit" type="button">ثبت</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal theme-modal fade confirmation-modal" id="Confirmation-modal" tabindex="-1" role="dialog" aria-modal="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img class="img-fluid" loading="lazy" src="/assets/images/gif/question.gif" alt="">
                <h4>تایید</h4>
                <p>آیا مطمئن هستید که می خواهید ادامه دهید؟</p>
                <div class="submit-button"> <button class="btn" type="submit" data-bs-dismiss="modal" aria-label="بستن">خیر</button><a id="btn_logout" class="btn">بله</a></div>
            </div>
        </div>
    </div>
</div>

<div class="reviews-modal modal theme-modal fade" id="edit-address" tabindex="-1" role="dialog" aria-modal="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>ویرایش آدرس</h4>
                <button class="btn-close" id="edit_Address_close" type="button" data-bs-dismiss="modal" aria-label="بستن"></button>
            </div>
            <div class="modal-body pt-0">
                <input type="hidden" id="Edit_Address_Id">
                <div class="row g-3">
                    <div class="col-6">
                        <div class="from-group">
                            <label class="form-label">عنوان <span class="text-danger">*</span></label>
                            <input class="form-control" id="Edit_Address_Title" type="text" placeholder="عنوان آدرس را وارد کنید.">
                            <div id="Edit_Address_Title_error" class="text-danger mt-1" style="display: none; font-size: 12px;">لطفاً عنوان آدرس را وارد کنید</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="from-group">
                            <label class="form-label">کد پستی<span class="text-danger">*</span></label>
                            <input class="form-control justnumber" id="Edit_PostalCode" type="text">
                            <div id="Edit_PostalCode_error" class="text-danger mt-1" style="display: none; font-size: 12px;">لطفاً کد پستی را وارد کنید</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="from-group">
                            <label class="form-label">استان <span class="text-danger">*</span></label>
                            <input id="Edit_Province" class="form-control" type="text" placeholder="استان خود را وارد کنید.">
                            <div id="Edit_Province_error" class="text-danger mt-1" style="display: none; font-size: 12px;">لطفاً استان را وارد کنید</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="from-group">
                            <label class="form-label">شهر <span class="text-danger">*</span></label>
                            <input id="Edit_City" class="form-control" type="text" placeholder="شهر خود را وارد کنید.">
                            <div id="Edit_City_error" class="text-danger mt-1" style="display: none; font-size: 12px;">لطفاً شهر را وارد کنید</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="from-group">
                            <label class="form-label">تلفن</label>
                            <input id="Edit_PhoneNumber" class="form-control justnumber" type="number" placeholder="تلفن خود را وارد کنید.">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="from-group">
                            <label class="form-label">آدرس <span class="text-danger">*</span></label>
                            <textarea id="Edit_AddressText" class="form-control" cols="30" rows="5" placeholder="آدرس خود را بنویسید..."></textarea>
                            <div id="Edit_AddressText_error" class="text-danger mt-1" style="display: none; font-size: 12px;">لطفاً آدرس را وارد کنید</div>
                        </div>
                    </div>
                    <button class="btn btn-submit" id="Edit_Address_submit" type="button">ویرایش</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script type="text/javascript" src="/Scripts/Dashboard/Dashboard.js"></script>
}

@{
    var userId = User.FindFirst("UserId")?.Value ?? string.Empty;
}

<script type="text/javascript">
    var userId = '@userId';
    console.log(userId);  // در صورتی که UserId خالی نباشد، در کنسول چاپ می‌کند.
</script>

<script>
    var isAdmin = @User.IsInRole("Admin").ToString().ToLower();
</script>