<div class="tap-top">
    <div><i class="fa-solid fa-angle-up"></i></div>
</div><span class="cursor"><span class="cursor-move-inner"><span class="cursor-inner"></span></span><span class="cursor-move-outer"><span class="cursor-outer"></span></span></span>
<section class="section-b-space pt-0">
    <div class="heading-banner">
        <div class="custom-container container">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h4>تسویه حساب</h4>
                </div>
            </div>
        </div>
    </div>
    <section class="section-b-space pt-0 checkout-page">

        <div class="custom-container container">
            <div class="row">
                <input type="hidden" id="InvoiceId" value="@ViewBag.InvoiceId" />

                <div class="col-xxl-9 col-lg-8">
                    <div class="left-sidebar-checkout sticky">
                        <div class="tab-pane" role="tabpanel" aria-labelledby="address-tab">
                            <div class="dashboard-right-box">
                                <div class="address-tab">
                                    <div class="sidebar-title">
                                        <div class="loader-line"></div>
                                        <h4>آدرس</h4>
                                    </div>
                                    <div class="row gy-3" id="address-list">
                                        <!-- آدرس‌های کاربر اینجا به‌صورت داینامیک اضافه خواهند شد -->
                                    </div>
                                    <button class="btn add-address" data-bs-toggle="modal" data-bs-target="#add-address" title="افزودن آدرس جدید" tabindex="0">+ افزودن آدرس</button>
                                </div>
                            </div>
                        </div>
                        <div class="payment-options">
                            <h4 class="mb-3">روش پرداخت</h4>
                            <div class="">
                                <div class="col-sm-6">
                                    <div class="payment-box">
                                        <input class="custom-radio me-2" id="cod" type="radio" checked name="paymentMethod">
                                        <label for="cod">پرداخت در محل</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-lg-4">
                    <div class="right-sidebar-checkout">
                        <h4>تسویه حساب</h4>
                        <div class="cart-listing">
                            <ul id="invoice-items">
                                <!-- اقلام فاکتور اینجا به‌صورت داینامیک اضافه خواهند شد -->
                            </ul>
                        </div>
                        <div class="summary-total">
                            <ul id="invoice-summary">
                                <!-- جمع کل اینجا به‌صورت داینامیک اضافه خواهد شد -->
                            </ul>
                        </div>
                        <button class="btn btn-solid-default w-100" id="submit-order">ثبت سفارش</button>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="reviews-modal modal theme-modal fade" id="add-address" tabindex="-1" role="dialog" aria-modal="true">
        <div class="modal-dialog modal-md modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>ویرایش آدرس</h4>
                    <button class="btn-close" id="edit_Address_close" type="button" data-bs-dismiss="modal" aria-label="بستن"></button>
                </div>
                <div class="modal-body pt-0">
                    <input type="hidden" id="Edit_Address_Id">
                    <div class="row g-3">
                        <div class="col-6">
                            <div class="from-group">
                                <label class="form-label">عنوان</label>
                                <input class="form-control" id="Address_Title" type="text" placeholder="عنوان آدرس را وارد کنید.">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="from-group">
                                <label class="form-label">کد پستی</label>
                                <input class="form-control justnumber" id="PostalCode" type="text" placeholder="کد پستی خود را وارد کنید.">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="from-group">
                                <label class="form-label">استان</label>
                                <input id="Province" class="form-control" type="text" placeholder="استان خود را وارد کنید.">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="from-group">
                                <label class="form-label">شهر</label>
                                <input id="City" class="form-control" type="text" placeholder="شهر خود را وارد کنید.">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="from-group">
                                <label class="form-label">تلفن</label>
                                <input id="PhoneNumber" class="form-control justnumber" type="number" placeholder="تلفن خود را وارد کنید.">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="from-group">
                                <label class="form-label">آدرس</label>
                                <textarea id="AddressText" class="form-control" cols="30" rows="5" placeholder="آدرس خود را بنویسید..."></textarea>
                            </div>
                        </div>
                        <button class="btn btn-submit" id="Address_submit" type="submit" data-bs-dismiss="modal" aria-label="بستن">ثبت</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="reviews-modal modal theme-modal fade" id="edit-address" tabindex="-1" role="dialog" aria-modal="true">
        <div class="modal-dialog modal-md modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>ویرایش آدرس</h4>
                    <button class="btn-close" id="edit_Address_close" type="button" data-bs-dismiss="modal" aria-label="بستن"></button>
                </div>
                <div class="modal-body pt-0">
                    <input type="hidden" id="Edit_Address_Id">
                    <div class="row g-3">
                        <div class="col-6">
                            <div class="from-group">
                                <label class="form-label">عنوان</label>
                                <input class="form-control" id="Edit_Address_Title" type="text" placeholder="عنوان آدرس را وارد کنید.">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="from-group">
                                <label class="form-label">کد پستی</label>
                                <input class="form-control justnumber" id="Edit_PostalCode" type="text" placeholder="کد پستی خود را وارد کنید.">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="from-group">
                                <label class="form-label">استان</label>
                                <input id="Edit_Province" class="form-control" type="text" placeholder="استان خود را وارد کنید.">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="from-group">
                                <label class="form-label">شهر</label>
                                <input id="Edit_City" class="form-control" type="text" placeholder="شهر خود را وارد کنید.">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="from-group">
                                <label class="form-label">تلفن</label>
                                <input id="Edit_PhoneNumber" class="form-control justnumber" type="number" placeholder="تلفن خود را وارد کنید.">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="from-group">
                                <label class="form-label">آدرس</label>
                                <textarea id="Edit_AddressText" class="form-control" cols="30" rows="5" placeholder="آدرس خود را بنویسید..."></textarea>
                            </div>
                        </div>
                        <button class="btn btn-submit" id="Edit_Address_submit" type="submit" data-bs-dismiss="modal" aria-label="بستن">ویرایش</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @section Scripts {
        <script src="~/Scripts/Order/Index.js"></script>
    }
